:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lanche{
    width: 100%;
    height: auto;
    margin-left: 10px;
    border: solid 1px #333;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.foto-lanche{
    height: 400px;
    width: 400px;
}

.cardapio{
    width: 100%;
    display: flex;
}

.p{
    text-align: justify;
}
