<h2 class="texto-pedido">Monte seu Pedido</h2>
<br>
<section class="dropdown">
    <select [(ngModel)]="select_lanche" (change)="onChange()" class="dropbtn" #newItem >
        <option *ngFor="let lanche of lanches" [value]="lanche.id" class="dropdown-content">
            {{lanche.nome_lanche}} <p *ngIf="lanche.preco !== 0"> R${{lanche.preco}},00</p>
        </option>
    </select>
    <button class="botao"(click)="addNewOutroItem()">Adicionar ao Pedido</button>
</section>

<br>

<h2 class="seu-pedido">Seu Pedido</h2>
<ul>
  <li *ngFor="let elemento of items"><p class="elemento_pedido">{{ elemento }}</p>
  </li>
  <!-- ngFor é um foreach no front que percorre a lista items, pegando o item do parâmetro -->
</ul>
<br>

<div class="container">
  <button class = "botao" (click)="removeItens()">Limpar lista de pedidos</button>
  <button class = "botao" (click)="concluirPedido()">Fazer Pedido</button>
  <label>Total: R${{total}},00</label>
</div>




